.route--active {
}

.header-grid{
	.header-left{
		padding: 0;
	}
	.header-right{
		display: flex;
		justify-content: flex-end;
		padding: 0;
		.header-navs{
			a{
				padding: 0 1em;
				color: #b5b5b6;
				&.route--active{
					color: #008ac2;
				}
			}
		}
		.header-wchatAndWeibo{
			font-size: .75em;
			div{
				float: left;
			}
			&:after{
				content: ' ';
				font-size: 0;
				clear: both;
				display: block;
			}
		}
		.header-laug{
			font-size: .75em;
		}
	}
}