.header{
	margin-top: 2.75em;
	margin-bottom: 5.18em;
	.header-grid{
		.header-left{
			padding: 0;
		}
		.header-right{
			display: flex;
			justify-content: flex-end;
			padding: 0;
			.header-navs{
				a{
					font-size: .875em;
					padding: 0 1em;
					color: #b5b5b6;
					text-decoration: none;
					&::hover{
						text-decoration: none;
					}
					&.route--active{
						color: #008ac2;
						text-decoration: none;
					}

				}
			}
			.header-wchatAndWeibo{
				font-size: .625em;
				transform: scale(.85);
				color: #b5b5b6;
				div{
					float: left;
				}
				&:after{
					content: ' ';
					font-size: 0;
					clear: both;
					display: block;
				}
			}
			.header-laug{
				font-size: .75em;
				transform: scale(.85);
				color: #b5b5b6;
			}
		}
	}
}

.pageTitle{
	color: #008ac2;
	text-transform: uppercase;
	margin-bottom: 2.5em;
}

.page-works{
	text-align: left;
	.column{
		padding: 0;
		&:hover {

		}
		.card-meta{
			color: #fff;
		}
		.card-title{
			color: #fff;
			font-size: 1.5em;
			
		}
	}
	
}

.page-contact{
	text-align: left;
	.map-container{
		position: relative;
		.map-outer{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
			.map{
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
		&:after {
		    content: "\A";
		    padding-bottom: 41.04%;
		    position: relative;
		    height: 0;
		    display: block;
		    object-fit: cover;
		}
	}
	.content{
		margin: 3.125em 0 8.3125em;
		.left{
			padding: 0;
			color: #89898a;
			font-size: 1.125em;
			line-height: 2em;
		}
		.right{
			color: #000;
			line-height: 2.25em;
			a{
				color: #000;
				text-decoration: underline;
			}
		}
	}
}

.recruit{
	text-align: left;
	.banner{
		img{
			display: block;
		}
	}
	.my-contains{
		padding: 0 1.8em;
		.h4{
			color: #231815;
			font-size: 2em;
			margin: 1.5em 0 1em;
		}
		.h4desc{
			margin-bottom: 7.5em;
			font-size: 1.5em;
			color: #3e3a39;
			a{
				color: #3e3a39;
				text-decoration: underline;
			}
		}
		.item{
			margin-top: 2.8em;
			.title{
				color: #0088c0;
				padding-bottom: 1em;
				border-bottom: 1px solid #bfbfbf;
				margin-bottom: 1em;
				font-size: 1.25em;
			}
			.content{
				margin: 0 0 3em ;
				.left{
					color: #89898a;
					text-transform: uppercase;
					line-height: 2.25em;
					padding: 0;
				}
				.right{
					color: #000;
					line-height: 2.25em;
				}
			}
		}
	}
}