.flipContainerInit{
    visibility: hidden;
    -webkit-animation-duration: 0.7s;
       -moz-animation-duration: 0.7s;
         -o-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-delay: 0s;
       -moz-animation-delay: 0s;
         -o-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-name: none;
       -moz-animation-name: none;
         -o-animation-name: none;
            animation-name: none;
}
.flipInX3 {
    opacity: 0;
    -webkit-animation-duration: 0.7s;
       -moz-animation-duration: 0.7s;
         -o-animation-duration: 0.7s;
            animation-duration: 0.7s;
    -webkit-animation-timing-function: ease-out;
       -moz-animation-timing-function: ease-out;
         -o-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-name: flipInX3;
       -moz-animation-name: flipInX3;
         -o-animation-name: flipInX3;
            animation-name: flipInX3;
    -webkit-animation-fill-mode: forwards;
       -moz-animation-fill-mode: forwards;
         -o-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    background: #fff;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
         border-radius: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: left;
    z-index: 0;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    -moz-box-flex: 1;
         flex: auto;
    position: relative;
}
.card .card-header {
    padding: 0;
    z-index: 24;
    position: absolute;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
      -o-animation-fill-mode: both;
         animation-fill-mode: both;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
         transform: translate3d(0,0,0);
    margin: 20px;
}
.card .card-image {
    width: 100%;
    height: auto;
    padding: 0;
    z-index: 2;
}
.card .card-image.featured:before, .card .card-image.work:before {
    content: "\a";
    position: relative;
    height: 0;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
}
.card .card-image.featured:before {
    padding-bottom: 72.92%;
}

.card .card-image .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.2);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
         backface-visibility: hidden;
    z-index: 23;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
      -o-transform: scale(1);
         transform: scale(1);
    -webkit-transition: background .5s cubic-bezier(.78,-.01,.24,1.01);
    -o-transition: background .5s cubic-bezier(.78,-.01,.24,1.01);
    -moz-transition: background .5s cubic-bezier(.78,-.01,.24,1.01);
    transition: background .5s cubic-bezier(.78,-.01,.24,1.01);
}
.card:hover .card-image .img-overlay {
    background: rgba(0,0,0,.5);
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
.img-responsive {
    background: #fff;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: 10;
}
.card .card-image img {
    -webkit-transition: -webkit-transform .5s cubic-bezier(.78,-.01,.24,1.01);
    transition: -webkit-transform .5s cubic-bezier(.78,-.01,.24,1.01);
    -o-transition: -o-transform .5s cubic-bezier(.78,-.01,.24,1.01);
    -moz-transition: transform .5s cubic-bezier(.78,-.01,.24,1.01), -moz-transform .5s cubic-bezier(.78,-.01,.24,1.01);
    transition: transform .5s cubic-bezier(.78,-.01,.24,1.01);
    transition: transform .5s cubic-bezier(.78,-.01,.24,1.01), -webkit-transform .5s cubic-bezier(.78,-.01,.24,1.01), -moz-transform .5s cubic-bezier(.78,-.01,.24,1.01), -o-transform .5s cubic-bezier(.78,-.01,.24,1.01);
    transition: transform .5s cubic-bezier(.78,-.01,.24,1.01),-webkit-transform .5s cubic-bezier(.78,-.01,.24,1.01);
    -webkit-border-bottom-right-radius: 0!important;
    -moz-border-radius-bottomright: 0!important;
         border-bottom-right-radius: 0!important;
    -webkit-border-bottom-left-radius: 0!important;
    -moz-border-radius-bottomleft: 0!important;
         border-bottom-left-radius: 0!important;
}
.card .card-image img.featured-image, .card .card-image img.work-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.card .client-logo {
    z-index: 24;
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    max-width: 105px;
}
.loading:after {
    border: .2rem solid #505050;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
         border-radius: .8rem;
    border-right-color: transparent;
    border-top-color: transparent;
    z-index: 10000!important;
    -webkit-animation: loading .5s infinite linear;
    -moz-animation: loading .5s infinite linear;
      -o-animation: loading .5s infinite linear;
         animation: loading .5s infinite linear;
    content: "";
    display: block;
    height: 1.6rem;
    left: 50%;
    margin-left: -.8rem;
    margin-top: -.8rem;
    position: absolute;
    top: 50%;
    width: 1.6rem;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
             transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
             transform: rotate(360deg)
    }
}

@-o-keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
           transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
           transform: rotate(360deg)
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
          -o-transform: rotate(0);
             transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
          -o-transform: rotate(360deg);
             transform: rotate(360deg)
    }
}
@media screen and (min-width: 375px)
    .card .client-logo {
        max-width: -webkit-calc(105px + 95 * (100vw - 375px)/ 1065);
        max-width: -moz-calc(105px + 95 * (100vw - 375px)/ 1065);
        max-width: calc(105px + 95 * (100vw - 375px)/ 1065);
    }


@-webkit-keyframes flipInX3 {
    0% {
        -webkit-backface-visibility: visible;
           -moz-backface-visibility: visible;
                backface-visibility: visible;
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg);
           -moz-transform: perspective(1000px) rotate3d(1,0,0,-90deg);
                transform: perspective(1000px) rotate3d(1,0,0,-90deg);
        opacity: 0
    }

    100% {
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
           -moz-transform: perspective(1000px) rotate3d(1,0,0,0deg);
                transform: perspective(1000px) rotate3d(1,0,0,0deg);
        opacity: 1
    }
}


@-moz-keyframes flipInX3 {
    0% {
        -webkit-backface-visibility: visible;
           -moz-backface-visibility: visible;
                backface-visibility: visible;
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg);
           -moz-transform: perspective(1000px) rotate3d(1,0,0,-90deg);
                transform: perspective(1000px) rotate3d(1,0,0,-90deg);
        opacity: 0
    }

    100% {
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
           -moz-transform: perspective(1000px) rotate3d(1,0,0,0deg);
                transform: perspective(1000px) rotate3d(1,0,0,0deg);
        opacity: 1
    }
}


@-o-keyframes flipInX3 {
    0% {
        -webkit-backface-visibility: visible;
           -moz-backface-visibility: visible;
                backface-visibility: visible;
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg);
           -moz-transform: perspective(1000px) rotate3d(1,0,0,-90deg);
                transform: perspective(1000px) rotate3d(1,0,0,-90deg);
        opacity: 0
    }

    100% {
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
           -moz-transform: perspective(1000px) rotate3d(1,0,0,0deg);
                transform: perspective(1000px) rotate3d(1,0,0,0deg);
        opacity: 1
    }
}


@keyframes flipInX3 {
    0% {
        -webkit-backface-visibility: visible;
           -moz-backface-visibility: visible;
                backface-visibility: visible;
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,-90deg);
           -moz-transform: perspective(1000px) rotate3d(1,0,0,-90deg);
                transform: perspective(1000px) rotate3d(1,0,0,-90deg);
        opacity: 0
    }

    100% {
        -webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
           -moz-transform: perspective(1000px) rotate3d(1,0,0,0deg);
                transform: perspective(1000px) rotate3d(1,0,0,0deg);
        opacity: 1
    }
}
}